styles.css
index.html
acronimo.css
acronimo.html
img/azul.jpg
img/brillantina-rosa.jpg
img/esquite.jpg
img/glitter.png
img/hoja dorada.jpg
img/jicama.jpg
img/morado.jpg
img/palomitas de maiz desparramadas.jpg
img/pinguino.png
img/rojo.jpg
img/rosado.jpg
img/sombrero.jpg
img/sopa.jpeg
bootstrap/grid.css
bootstrap/grid.html

